.hover-animation{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#geo-trans {
    height: 100px;
    width: 100px;
    background-color: orange;
    transition: 0.5s;
}

#geo-trans:hover{
    background-color: orangered;
    border-radius: 50%;
}

#bounce{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bola{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 120, 215, 0.5);
    animation: bounce 0.8s alternate infinite  ease-in;
}

.sombra {
    width: 100px;
    height: 2px;
    background: #000000;
    box-shadow: 0 0 10px #000000;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    opacity: .4;
    transform: scale(0.3);
    animation: size 0.8s alternate infinite ease-in;
}

@keyframes size{
    100% {
    transform: scale(1);
    opacity: 0.5;
    }
}

@keyframes bounce{
    90%{
        height: 100px;
    }
    100% {
        transform: translateY(200px);
        height: 90px;
    }
}